LOG_LEVEL=INFO

API_FOOTBALL_KEY=your-rapidapi-key-here
API_FOOTBALL_HOST=api-football-v1.p.rapidapi.com
API_AUTH_STYLE=rapidapi
API_RATE_LIMIT_RPM=250


GCP_PROJECT=football-elt-xxxxx
BQ_LOCATION=US
BQ_RAW_DATASET=football_raw
GOOGLE_APPLICATION_CREDENTIALS=./secrets/sa.json

DBT_PROFILES_DIR=./dbt/football
DBT_TARGET=dev

LEAGUES=39,140,135,78,61
SEASONS=2024,2025