LOG_LEVEL=INFO

# Key from dashboard.api-football.com (API-Sports direct).
API_FOOTBALL_KEY=your-api-sports-key-here
API_FOOTBALL_HOST=v3.football.api-sports.io
API_RATE_LIMIT_RPM=250


GCP_PROJECT=football-elt-xxxxx
BQ_LOCATION=US
BQ_RAW_DATASET=football_raw
GOOGLE_APPLICATION_CREDENTIALS=./secrets/sa.json

DBT_PROFILES_DIR=./dbt/football
DBT_TARGET=dev

LEAGUES=39,140,135,78,61
SEASONS=2024,2025